<!DOCTYPE html>
<html>
<head>
    <title>Pocket Clone</title>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pocket_clone.css') }}">

     <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bin/materialize.min.js') }}"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"> 

</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/bin/materialize.min.js') }}"></script>

    <div class="container">
        <h1> An Error occured </h2>
        <p> If you were trying to insert an article, that article may not be supported </p>
        <a class="error-button" href="/home">
            Home
        </a>
    </div>


</body>
</html>
