<html>
<head>
    <title>Text Processor</title>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pocket_clone.css') }}">
     <!-- Compiled and minified JavaScript -->

    <script src="{{ url_for('static', filename='js/bin/materialize.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body class="recommended-view">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/bin/materialize.min.js') }}"></script>

    <nav class="recommended-nav">
        <div class="container">
            <a href="/home" class="home-button"> Home </a>
            <a href="/" class="logout-button"> Logout </a>
        </div>
    </nav>

    <div class="container">
        <div class="articles">
            {% for article in articles %}
              <div class="article-card ">
                  <div class="article-head">
                      <span class="card-title">{{article.title}}</span>
                      <p>{{article.head}}<p>
                    </div>
                    <div class="card-action">
                        <div class="article-option-buttons">
                            <a class="article-option-button" href="/add_recommended_article/{{article.id}}">
                                Add
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s0 l1"></div>
            {% endfor %}
    </div>
</body>
</html>
